@page
@model OmegaStore_server.Pages_AccountManager.IndexModel

@{
    ViewData["Title"] = "Account Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Editable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Deletable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Account)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @(item.Role ? "Admin" : "Customer")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Editable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deletable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" data-editable="@item.Editable"
                        class="account-edit-btn">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" data-deletable="@item.Deletable"
                        class="account-delete-btn">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("~/Assets/Scripts/AccountButtonsScript.cshtml");